<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--服务器UI地址 -->
		<add key="Root" value="" />
		<!--开发环境UI地址 -->
		<add key="DeBugRoot" value="http://localhost:9001" />
		<!--默认打印机 -->
		<add key="DefaultDocPrinter" value="" />
		
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>